*.xml
/Spotify Analysis/layer/
*.pyc
*.csv
*.cache
/Spotify Analysis/Analysis/.ipynb_checkpoints
Spotify Analysis/ETL/.cache
*.pkl
Spotify Analysis/Analysis/regression
*.log
Spotify Analysis/Analysis/nn_model.keras
test.html
*.xlsx
Spotify Analysis/Analysis/Regression-Clean-Extra.ipynb
/Deprecated
Spotify Analysis/Analysis/layer
Spotify Analysis/Analysis/.cache
*.twbr
/Housing Analysis/.ipynb_checkpoints
*.lock
/Housing Analysis/ETL/downloaded_files/
test.py
Housing Analysis/metadata_ctgan.json
Housing Analysis/Analysis/metadata_ctgan.json
*.gpkg
/Housing Analysis/Analysis/.ipynb_checkpoints
*.geojson
